#manage-money {
  display: block;
}

#show-balance {
  display: block;
  background-color: skyblue;
  padding-bottom: 20px;
}
.container{
  background-color: slategray;
}
#header{
  background-color: skyblue;
  border-radius: 20px;
  padding-top: 20px;
}
  
 
  